Package: firewall-tester
Version: 1.0.3-1
Provides: firewall-tester
Maintainer: Dmitry Svintsov <svirepunchik@gmail.com>
Architecture: all
Section: utils
Description: NMAP-based bash script for scan an unnesessary opened ports on remote server.
 It takes target server's address and a list of allowed ports.
 .
 After execution script shows opened ports, excluding the allowed.
 .
 This allows you to know if target server contains unnesessary opened ports.
Depends: nmap (>=7.0.1), sed (>=4.2.2), grep (>=2.25)
Installed-Size: 123
Priority: optional
Origin: https://github.com/svirepunchik/firewall_tester
